body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 195, 243);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;



}
h1 {
    font-size: 44px;
    margin-top: -30px;/* Adjust the font size to your desired value */

}
header {
    width: 95%;
    max-width: 688px;
    display: flex; /* Corrected the spelling of display */
    justify-content: flex-end;
    padding: 0px;
    margin-top: 15px; /* Corrected the colon after margin-top */
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(252, 247, 252);
}

.container {
    width: 90%;
    max-width: 680px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

a {
    text-decoration: none;
    color: rgb(3, 3, 3);
}

.tile {
    width: 80%;
    height: 70px;
    background-color: rgb(252, 250, 252);
    margin: 7px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    margin-top: -15px;

    animation-name: breathe;
    animation-duration: 3s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; /* Infinite loop */
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Scale up */
    }
    100% {
        transform: scale(1);
    }
}


.image-container {
    height: 296px;
    width: 296px;
    overflow: hidden;

}

.image-container img {
    height: 100%;
    width: 100%;
}

.icon{
    margin: 4px 8px;
    width: 64px;
    height: 52px;
}

.tile:hover {
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.03);
}

body {
    background-image: url(https://images.unsplash.com/photo-1614283180581-d5988fd52837?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGluayUyMGdyYWRpZW50fGVufDB8fDB8fHww&w=1000&q=80); /* Replace with your image's URL or file path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
}

#user-location {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 32px;/* Replace 'YourDesiredFont' with the actual font name */
}

#pin-emoji {
    font-family: 'YourDesiredFont', sans-serif; /* Replace 'YourDesiredFont' with the actual font name */
}
